extends layout

block content
  nav.uk-navbar
    a.uk-navbar-brand(href="/")
      img(src="/img/logo-black.png")
    div.uk-navbar-flip
     ul.uk-navbar-nav
       li
         a.aff(href="http://callmaker.ru/how/") О Callmaker
       li
         a(href="http://callmaker.ru/admin/") Личный кабинет
  div.uk-container-center.b-form.b-main
    div.uk-alert.uk-alert-danger.uk-alert-large.uk-margin-large-top!= msg
