extends layout

block content
  nav.uk-navbar
    a.uk-navbar-brand(href="/")
      img(src="/img/logo-black.png")
    div.uk-navbar-flip
     ul.uk-navbar-nav
       li
         a.aff(href="http://callmaker.ru/how/") О Callmaker
       li
         a.aff(href="http://callmaker.ru/admin/") Личный кабинет
  div.uk-margin-large-left.uk-margin-large-right.uk-margin-large
    h1= message
    h2= error.status
    pre #{error.stack}
