extends layout

block content
  nav.uk-navbar
    a.uk-navbar-brand(href="/")
      img(src="/img/logo-black.png")
    div.uk-navbar-flip
     ul.uk-navbar-nav
       li
         a(href="http://#{domain}") В магазин
       li
         a(href="http://callmaker.ru/kak-rabotaet-callmaker/") О Callmaker
       li
         a(href="http://callmaker.ru/admin/") Личный кабинет
  div.b-form
    p.uk-text-large.uk-text-center Есть ли у вас аккаунт в Callmaker?
    a.uk-button.uk-width-1-1.uk-button-large.uk-margin-small-bottom(href="/login") Да
    a.uk-button.uk-width-1-1.uk-button-large.uk-margin-small-bottom(href="/reg") Нет
