doctype html
html.uk-height-1-1
  head
    meta(charset="utf-8")
    title Обратный звонок
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
  body.uk-height-1-1
    block content
    script(src="/js/libs.js")
    script(src="/js/app.js")
    script(type="text/javascript")
     | (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter28707293 = new Ya.Metrika({ id:28707293, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src="//mc.yandex.ru/watch/28707293", style="position:absolute; left:-9999px;", alt="")