extends layout

block content
  nav.uk-navbar
    a.uk-navbar-brand(href="/")
      img(src="/img/logo-black.png")
    div.uk-navbar-flip
     ul.uk-navbar-nav
       li
         a(href="http://callmaker.ru/prices/") Тарифы
  div.b-form.b-main
    div.uk-alert.uk-alert-success Код callmaker установлен в ваш магазин
    p Вам осталось перейти в #[a(href="http://callmaker.ru/admin/") личный кабинет] и закончить настройку
