extends layout

block content
  nav.uk-navbar
    a.uk-navbar-brand(href="/")
      img(src="/img/logo-black.png")
    div.uk-navbar-flip
     ul.uk-navbar-nav
       li
         a(href="http://#{domain}") В магазин
       li
         a(href="http://callmaker.ru/kak-rabotaet-callmaker/") О Callmaker
       li
         a(href="http://callmaker.ru/admin/") Личный кабинет
  div.b-form.b-main
    h2.uk-h2.uk-margin-bottom-remove Регистрационные данные
    hr.uk-margin-top-remove
    h3.uk-h4.uk-margin-remove Имя
    p.uk-margin-small.uk-text-bold #{name}
    h3.uk-h4.uk-margin-remove Телефон
    p.uk-margin-small.uk-text-bold #{phone}
    h3.uk-h4.uk-margin-remove Email
    p.uk-margin-small.uk-text-bold #{email}
    div.uk-alert.uk-alert-success Код callmaker установлен в ваш магазин
