extends layout

block content
  nav.uk-navbar
    a.uk-navbar-brand(href="/")
      img(src="/img/logo-black.png")
    div.uk-navbar-flip
     ul.uk-navbar-nav
       li
         a.aff(href="http://callmaker.ru/how/") О Callmaker
       li
         a(href="http://callmaker.ru/admin/") Личный кабинет
  div.b-form.b-reg
    form.uk-form.uk-form-stacked(action="/reg", method="post", id="reg")
      fieldset(data-uk-margin)
        legend Регистрация
        div.uk-form-row.uk-width-1-1
          label.uk-form-label(for="url") Адрес вашего сайта
          div.uk-form-icon.uk-width-1-1
            i.uk-icon-home
            input.uk-width-1-1(type="text", placeholder="Адрес вашего сайта", id="url", name="url", value="#{domain}")
        div.uk-form-row.uk-width-1-1
          label.uk-form-label(for="name") Ваше имя
          div.uk-form-icon.uk-width-1-1
            i.uk-icon-user
            input.uk-width-1-1(type="text", placeholder="Ваше имя", id="name", name="name", value="#{name}")
        div.uk-form-row.uk-width-1-1
          label.uk-form-label(for="email") Ваш email
          div.uk-form-icon.uk-width-1-1
            i.uk-icon-envelope
            input.uk-width-1-1(type="text", placeholder="Ваш email", id="email", name="email", value="#{email}")
        div.uk-form-row.uk-width-1-1
          label.uk-form-label(for="pass") Ваш пароль
          div.uk-form-icon.uk-width-1-1
            i.uk-icon-lock
            input.uk-width-1-1(type="text", placeholder="Ваш пароль", id="pass", name="pass")
        div.uk-form-row.uk-width-1-1
          label.uk-form-label(for="phone") Ваш телефон
          div.uk-form-icon.uk-width-1-1
            select.uk-width-3-10(id="phonecode", name="phonecode")
              option(value="7" selected) +7
              option(value="38") +38
              option(value="375") +375
              option(value="1") +1
            i.uk-icon-phone
            input.uk-width-7-10(type="text", placeholder="Ваш телефон", id="phone", name="phone", value="#{phone}")
        div.uk-form-row
          button.uk-width-1-1.uk-button-large.uk-button Зарегистрироваться