.b-logo
  background url("/img/logo-black.png") no-repeat
  width 192px
  height 19px
.b-form
  width 300px
  height 140px
  margin -70px 0px 0px -150px
  position absolute
  top 50%
  left 50%
.b-login
  height 212px
  margin-top -106px
.b-reg
  height 510px
  margin-top -255px